@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body, h1, h2, p, a, input, textarea, button {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5px 50px;
  background: #23395b;
  display: flex;
  justify-content: space-between;
}

/* Main contact sections */
main {
  padding: 85px 20px; /* Added padding to the top to avoid overlap with the fixed header */
}


.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #ffffff; /* Eller hvilken som helst bakgrunnsfarge du foretrekker */
}


.contact-info h1 {
  font-size: 3rem;
 font-family: "Inter", sans-serif;
  margin-bottom: 0.5em; /* Gir litt plass under overskriften */
  color: #000000; /* En mørk farge for tekst */
}

.contact-info p {
  font-size: larger;
  font-family: "Inter", sans-serif;
  margin-bottom: 1.5em; /* Gir litt plass mellom paragrafene */
  color: #000000; /* En standard mørkegrå farge for tekst */

}

.contact-info a {
  color: #000000; /* En farge som står ut, endre etter eget design */
  text-decoration: none; /* Fjerner understreking av lenker */
}

.contact-info a:hover {
  text-decoration: underline; /* Legger til understreking ved hover */
}

.contact-image img {
  margin-top: 100px; 
}


.opening-hours {
  display: flex;
  align-items: center;
  width: 100%;
  background-color:#8EA8C3;
  margin-bottom: 5%;
  position: relative;
}

#OpHours{ 
  position: relative;
  height: auto;
  width: 30%;
  z-index: 1;
  margin-left: 5%;
  margin-top: -10px;
  margin-bottom: -10px;
}

.opening-text{
  justify-content: left;
  text-align: left;
  align-items: center;
  margin-left: 10%; 
}
.opening-text h1{
  color: white;
  text-align: left;
  flex-direction: row;
  font-size: 3em;
  margin: 0;
  line-height: 2; 
}
.opening-text p, .opening-text .p1, .opening-text .p2, .opening-text .p3 {
  color: white;
  flex-direction: row;
  font-size: 25px;
  text-align: left;
  margin: 0;  
}







.logo-container {
  margin-right: auto;
}

.logoo {
  color: rgb(253, 254, 254);
  height: 90px;
}

.navigation {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .navigation a {
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 300;
    margin-left: 40px;
    position: relative;
  }
  
  .navigation a::after {
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #cbf7ed;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
  }
  
  .navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
  }
  
  .navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: #cbf7ed;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #000000;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
  }
  

  