@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(background1.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.1px 100px;
  background: #23395b;
  display: flex;
  justify-content: space-between;
  z-index: 99;
}

.logo-container {
  margin-right: auto;
}

.logoo {
  color: rgb(253, 254, 254);
  height: 90px;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.navigation a {
  font-size: 1.1em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 300;
  margin-left: 40px;
  position: relative;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #cbf7ed;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: #cbf7ed;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #000000;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
}

.navigation .btnLogin-popup:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
}

.background-image {
  width: 100%;
  height: auto;
  display: block;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #000000;
}

.subtitle-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #000000;
}

/*Service section */

.container h2 {
  text-align: center;
}

#our-services {
  padding: 50px 0;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}

#our-services .container {
  max-width: 1200px;
  margin: 0 auto;
}

.services-wrapper {
  overflow: hidden;
  position: relative;
}

.services-slider {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.5s ease-in-out;
}

.service-card {
  display: inline-block;
  flex: 0 0 calc(25% - 30px);
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.service-image {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.service-image::before {
  content: attr(data-title);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #23395b;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.service-info {
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #23395b;
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-info p,
.service-info .service-time,
.service-info .service-includes,
.service-info .service-price {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: center;
}

.service-card:hover .service-info {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.service-image img {
  width: 100%;
  object-fit: cover;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.service-card:hover .service-image img {
  opacity: 0.3;
}

.service-book-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #ffffff;
  color: #000;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.service-book-btn:hover {
  background: #b2dfdb;
}

.services-wrapper {
  position: static;
}

.prev-arrow {
  position: absolute;
  width: 63px;
  height: 70px;
  top: 50%;
  left: 0;
  transform: translateY(-50%) translateX(20px);
  background: #ffffff;
  mix-blend-mode: multiply;
  border: none;
}

.next-arrow {
  position: absolute;
  width: 63px;
  height: 70px;
  top: 50%;
  right: -140px;
  transform: translateY(-50%) translateX(-160px);
  background: #ffffff;
  mix-blend-mode: multiply;
  border: none;
}

.prev-arrow img {
  width: 40px;
  height: auto;
}

.next-arrow img {
  width: 40px;
  height: auto;
}

.read-more-container {
  align-self: flex-end;
  text-align: right;
  padding: 20px 50px;
}

.read-more-btn {
  padding: 10px 20px;
  background-color: #8ea8c3;
  color: #000000;
  border: none;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.read-more-btn:hover {
  background-color: #1f2a48;
}

@media (max-width: 1200px) {
  .service-card {
    flex: 0 0 calc(25% - 40px);
  }
}

@media (max-width: 992px) {
  .service-card {
    flex: 0 0 calc(33.33% - 40px);
  }
}

@media (max-width: 768px) {
  .service-card {
    flex: 0 0 calc(50% - 40px);
  }
}

@media (max-width: 480px) {
  .service-card {
    flex: 0 0 calc(100% - 40px);
  }
}
/*Service section */

/* Extra Treatments section */
#extra-treatments .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

#extra-treatments .container h2 {
  margin-bottom: 30px;
}

#extra-treatments .treatments-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#extra-treatments .treatment-image {
  position: relative;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}

#extra-treatments .treatment-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#extra-treatments .treatment-image::before {
  content: "";
  position: absolute;
  width: calc(90% + 10px);
  height: calc(90% + 10px);
  left: -4px;
  top: -15px;
  background: #8ea8c3;
  z-index: -1;
}

#extra-treatments .treatments-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

#extra-treatments .treatments-list ul li {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 10px;
}

#extra-treatments .treatments-list ul li a {
  text-decoration: none; /* No underline on links */
  color: rgb(0, 0, 0); /* Dark color for text */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

#extra-treatments .treatments-list ul li a:hover,
#extra-treatments .treatments-list ul li a:focus {
  color: #8ea8c3; /* Highlight color when hovered or focused */
}

.read-more-container {
  align-self: flex-end;
  text-align: right;
  padding: 20px 50px;
}

@media (min-width: 768px) {
  #extra-treatments .treatments-content {
    flex-direction: row;
  }

  #extra-treatments .treatment-image,
  #extra-treatments .treatments-list {
    flex-basis: 50%;
    max-width: 50%;
  }

  #extra-treatments .treatments-list ul {
    text-align: left;
  }
}
/* End of Extra Treatments section */

/*about us */
#about-us-section {
  display: flex;
  justify-content: flex-end; /* Align content to the right */
  align-items: center;
  background-color: #8ea8c3; /* Adjust the color to match your design */
  height: 790px;
  padding: 40px 90px;
  position: relative;
  width: 100%;
  overflow: visible;
}

.about-us-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* This will center the content vertically */
  align-items: center; /* Keeps the picture and other elements centered */
  max-width: 50%; /* Adjust max-width to center the content more */
}

.about-us-content h2,
.about-us-content p {
  color: #ffffff;
  margin-bottom: 20px; /* Adjust as needed to space out the elements */
  text-align: left; /* Align the text to the left */
  font-family: "Inter";
}

.about-us-content h2 {
  font-weight: 400;
  font-size: 48px;
}

.about-us-content p {
  font-size: 30px;
  line-height: 70px;
  margin-top: 20px; /* Adjust as needed */
  height: 240px;
  width: 563px;
  font-weight: 300; /* This will make the font lighter, assuming the font supports this weight */
}

.read-more-button-for-about-us {
  align-self: flex-start; /* This aligns the button to the left */
  padding: 10px 20px; /* Adjust padding as necessary */
  background-color: #cbf7ed;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  margin-top: -20px; /* Adjust this value to move the button closer to the paragraph above it */
}
.about-us-image {
  width: 550px; /* Adjusted to half of the original width */
}

.about-us-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  #about-us-section {
    flex-direction: column;
  }

  .about-us-content,
  .about-us-image {
    max-width: 100%;
  }

  .about-us-content {
    order: 1; /* ensures content is before the image */
  }

  .about-us-image {
    order: 2; /* ensures image is after the content */
  }
}

/*Event Calendar*/
.calendar-container {
  display: flex;
  flex-direction: column;
  background: #cbf7ed;
  border-radius: 16px;
  padding: 16px;
  width: 715px;
  margin: 50px auto 0; /* Centered horizontally */
  box-sizing: border-box;
  position: relative;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-header h2 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: #000000;
  text-align: center;
  margin: 0; /* Centers the title when arrows are absolutely positioned */
}

/* Position the arrows in the top-right corner */
.arrows {
  position: absolute;
  right: 16px; /* Adjust as needed for exact positioning */
  top: 16px; /* Adjust as needed for exact positioning */
  display: flex;
  align-items: center; /* Align arrows vertically */
}

.arrow {
  cursor: pointer;
  margin-left: 8px; /* Space between arrows */
}

.weekdays,
.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Creates a 7 column grid */
  gap: 1px; /* 1px for the visual separation of grid items */
  align-items: center;
}

.weekdays div,
.day {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  background: #cbf7ed;
  border: px solid #d5d4df;
}

.day {
  background: #ffffff; /* White background for days */
}

#valentines-day {
  position: relative;
  font-weight: 600; /* Make the number bold */
  color: black; /* Set the color for the number */
}

#valentines-day .heart {
  position: absolute;
  content: "\2665";
  font-size: 3em; /* Adjust the size of the heart as needed */
  line-height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: transparent;
  -webkit-text-stroke: 1px black; /* Create the outline effect */
}

.inactive {
  background: #f2f3f7;
  color: #a8a8a8;
}

.event-description {
  background: #ffffff;
  border-radius: 16px;
  padding: 30px;
  margin-top: 30px;
  font-family: "Inter", sans-serif;
}

.event-description h3 {
  font-weight: 600;
  margin-bottom: 12px;
}

.event-description p {
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .calendar-container {
    width: calc(100% - 32px); /* Responsive width with padding */
    padding: 16px; /* Smaller padding on smaller screens */
  }

  .arrow {
    position: static;
    transform: none;
    margin: 0 8px; /* Spacing around arrows when not absolutely positioned */
  }

  .calendar-header {
    flex-direction: column; /* Stack the header items on smaller screens */
  }

  .calendar-header h2 {
    order: -1; /* Title above arrows on smaller screens */
  }

  .weekdays,
  .days {
    gap: 0.5px; /* Smaller gap on smaller screens */
  }
}

/*
.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform 0.5s ease, height 0.2s ease;
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper.active {
  height: 520px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}
.wrapper .form-box.login {
  transition: transform 0.18 ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  transition: transform 0.18 ease;
  transform: translateX(0);
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #404d71;
  font-size: 3em;
  color: #ffffff;
}

.form-box h2 {
  font-size: 2em;
  color: #404d71;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #404d71;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #404d71;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #404d71;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #404d71;
  line-height: 57px;
}

.remember-forgot {
  font-size: 0.9em;
  color: #404d71;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  color: #404d71;
  margin-right: 3px;
}

.remember-forgot a {
  color: #404d71;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: #404d71;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: white;
  font-weight: 500;
}

.login-register {
  font-size: 0.9em;
  color: #404d71;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #404d71;
  font-weight: 600;
  text-decoration: none;
}

.login-register p a:hover {
  text-decoration: underline;
}
*/
