@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(background1.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.1px 100px;
  background: #23395b;
  display: flex;
  justify-content: space-between;
  z-index: 99;
}

.logo-container {
  margin-right: auto;
}

.logoo {
  color: rgb(253, 254, 254);
  height: 90px;
}

.navigation {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.navigation a {
  font-size: 1.1em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 300;
  margin-left: 40px;
  position: relative;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #cbf7ed;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btnLogin-popup {
  width: 130px;
  height: 50px;
  background: #cbf7ed;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #000000;
  font-weight: 500;
  margin-left: 40px;
  transition: 0.5s;
}

.navigation .btnLogin-popup:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
}

.background-image {
  width: 100%;
  height: auto;
  display: block;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #000000;
}

.subtitle-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #000000;
}

/*Service section */

.container h2 {
  text-align: center;
}

#our-services {
  padding: 50px 0;
  background-color: #f8f8f8;
  position: relative;
  overflow: hidden;
}

#our-services .container {
  max-width: 1200px;
  margin: 0 auto;
}

.services-wrapper {
  overflow: hidden;
  position: relative;
}

.services-slider {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  transition: transform 0.5s ease-in-out;
}

.service-card {
  display: inline-block;
  flex: 0 0 calc(25% - 60px);
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.service-image {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.service-image::before {
  content: attr(data-title);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.service-info {
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #23395b;
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-info p,
.service-info .service-time,
.service-info .service-includes,
.service-info .service-price {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: center;
}

.service-card:hover .service-info {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.service-image img {
  width: 100%;
  object-fit: cover;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.service-card:hover .service-image img {
  opacity: 0.3;
}

.service-book-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #ffffff;
  color: #000;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.service-book-btn:hover {
  background: #b2dfdb;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: #161925;
  border: none;
  padding: 0;
  font-size: 70px;
  z-index: 1000;
}

.prev-arrow {
  left: 10px;
}

.next-arrow {
  right: 10px;
}

.read-more-container {
  text-align: right;
  padding: 20px 50px;
}

.read-more-btn {
  padding: 10px 20px;
  background-color: #8ea8c3;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  position: right;
}

.read-more-btn:hover {
  background-color: #1f2a48;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .service-card {
    flex: 0 0 calc(50% - 40px);
  }
}

@media (max-width: 480px) {
  .service-card {
    flex: 0 0 100%;
  }
}
/*Service section */

/*<Extra Treatments section*/
#extra-treatments .container h2 {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px 15px;
}

#extra-treatments .treatments-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
}

#extra-treatments .treatment-image {
  flex-basis: 50%;
  max-width: 50%;
  padding: 0 15px;
}

#extra-treatments .treatment-image img {
  width: 100%;
  height: auto;
  border-radius: 0px;
  object-fit: cover;
}

#extra-treatments .treatments-list {
  flex-basis: 50%;
  max-width: 50%;
  padding: 0 15px;
}

#extra-treatments .treatments-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#extra-treatments .treatments-list ul li {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 10px;
}

/*.read-more-container {
  text-align: center; 
  width: 100%; 
  padding: 20px 0; 
}

.read-more-btn {
  padding: 10px 20px;
  background-color: #8ea8c3;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.read-more-btn:hover {
  background-color: #1f2a48;
}

/*<extra treatments section*/

.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform 0.5s ease, height 0.2s ease;
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper.active {
  height: 520px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}
.wrapper .form-box.login {
  transition: transform 0.18 ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  transition: transform 0.18 ease;
  transform: translateX(0);
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #404d71;
  font-size: 3em;
  color: #ffffff;
}

.form-box h2 {
  font-size: 2em;
  color: #404d71;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #404d71;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #404d71;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #404d71;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #404d71;
  line-height: 57px;
}

.remember-forgot {
  font-size: 0.9em;
  color: #404d71;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  color: #404d71;
  margin-right: 3px;
}

.remember-forgot a {
  color: #404d71;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: #404d71;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: white;
  font-weight: 500;
}

.login-register {
  font-size: 0.9em;
  color: #404d71;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: #404d71;
  font-weight: 600;
  text-decoration: none;
}

.login-register p a:hover {
  text-decoration: underline;
}
